/* Global Style */
.copyright .my-name{
    text-decoration: none;
}

.copyright .my-name:hover{
   color: #20B2AA;
}

.row .text-title{
    text-decoration: none;
    color: #20B2AA;
}

.row .text-title:hover{
    color: #FF4500;
}

.row .fab:hover{
    opacity: .5;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }